.git/
.github/
.gitignore

.vscode/
.vscode-test/

node_modules/
out/

client/node_modules/
client/out/
client/src/
client/testData/
server/src/

docs/
.venv/

Makefile
.editorconfig
.eslintignore
.eslintrc.json
.prettierrc.json
**/tsconfig.json

**/*.map
**/*.ts
**/tsconfig.tsBuildInfoFile

nightly/
